[Unit]
Description=scalp-spot-servive
After=multi-user.target

[Service]
Type=idle
Restart=always
StartLimitBurst=0
User=natan
Restart=on-failure
RuntimeMaxSec=24h
WorkingDirectory=/home/natan/sse/spot-signal-emitter/src
ExecStart=/usr/bin/python3 -m scalp.spot

[Install]
WantedBy=multi-user.target
